.wrapper {
  height: 40rem;
  width: 80%;
  background-color: var(--color-pastel-yellow);
  border-radius: 2rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: 0 5rem 0 5rem;

  @include lg {
    height: 30rem;
    padding: 0 3rem 0 3rem;
  }

  @include md {
    height: 27rem;
    width: 75%;
  }

  @include sm {
    height: 25rem;
    width: 85%;
    padding: 0 1rem 0 1rem;
  }

  .i {
    left: 2rem;
    transform: rotate(180deg);
    transform-origin: 50% 50%;
    font-family: var(--font-Just-Another-Hand);
    color: var(--color-dark-pink);
    position: relative;
    cursor: pointer;
    font-size: 5rem;
    transform: translateY(-50%);
    transition: transform 0.1s linear;
  }

  .i:active {
    transform: translateY(-50%) scale(0.9);
  }

  .i:hover {
    color: var(--color-dark-pink);
  }

  .i:first-child {
    left: -22px;
    rotate: (180deg);
    top: -30px;

    @include sm {
      display: none;
    }
  }

  .i:last-child {
    top: 65px;
    left: 25px;

    @include sm {
      display: none;
    }
  }

  @include lg {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .carrousel {
    cursor: pointer;
    white-space: nowrap;
    display: flex;
    justify-content: start;
    align-items: center;
    overflow: hidden;
    width: 100%;
    scroll-behavior: smooth;

    .card {
      margin: 0 2rem 0 0;
      width: calc(90% / 4);

      @include xl {
        width: calc(90% / 3);
      }

      @include md {
        width: calc(95% / 2);
        margin: 0 1rem 0 0;
      }

      .item:nth-child(-n + 12) {
        display: flex;
        justify-content: center;
        align-items: end;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 1rem;
        background-position: center;
        height: 30rem;

        @include lg {
          height: 20rem;
          padding: 0 2rem 0 2rem;
        }

        @include md {
          height: 18rem;
        }

        @include sm {
          height: 14rem;
        }

        .buttonReadMore {
          width: 12rem;
          height: 3.8rem;
          border-radius: 0.5rem;
          background-color: var(--background-color-opacity60);
          border: 0.2rem solid var(--color-dark-pink);
          font-family: var(--font-Jockey-One);
          font-size: 1.1rem;
          margin: 0 4rem 2rem 4rem;
          color: var(--color-white);
          cursor: pointer;
          transition: all 0.3s ease;

          @include lg {
            width: 9rem;
          }

          @include sm {
            height: 2.5rem;
            width: 7rem;
            border: 0.15rem solid var(--color-dark-pink);
          }
        }

        .buttonReadMore:hover {
          background-color: var(--color-dark-pink);
          border: none;
        }
      }

      .item:nth-child(3) {
        background-image: url(assets/lemonade_2.jpg);
      }

      .item:nth-child(4) {
        background-image: url(assets/lemonade_3.jpg);
      }

      .item:nth-child(5) {
        background-image: url(assets/lemonade_4.jpg);
      }

      .item:nth-child(6) {
        background-image: url(assets/lemonade_2.jpg);
      }

      .item:nth-child(7) {
        background-image: url(assets/lemonade_1.jpg);
      }

      .item:nth-child(8) {
        background-image: url(assets/lemonade_2.jpg);
      }

      .item:nth-child(9) {
        background-image: url(assets/lemonade_3.jpg);
      }

      .item:nth-child(10) {
        background-image: url(assets/lemonade_4.jpg);
      }

      .guillemet:nth-child(4) {
        font-size: 3rem;
        font-family: var(--font-Just-Another-Hand);
        color: var(--color-dark-pink);

        @include xxl-min {
          display: none;
        }

        @include xxl {
          display: none;
        }

        @include lg {
          display: block;
          margin-left: 1rem;
        }

        @include md {
          margin: 0;
        }

        @include sm {
          display: none;
        }
      }

      .cardDescription {
        margin: 1rem 0 1rem 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        .title {
          font-size: 1.5625rem;
          font-family: var(--font-Jockey-One);
          color: var(--color-pastel-pink);
          margin-bottom: 0.5rem;

          @include md {
            font-size: 1rem;
          }
        }
        .severing {
          font-size: 1.25rem;
          font-family: var(--font-Just-Another-Hand);
          margin-bottom: 0.5rem;
        }
        .price {
          font-size: 1rem;
          font-family: var(--font-Jockey-One);
          color: var(--color-pastel-pink);
        }
      }
    }

    .card:nth-child(1) {
      .item {
        background-image: url(assets/lemonade_4.jpg);
      }
    }

    .card:nth-child(2) {
      .item {
        background-image: url(assets/lemonade_1.jpg);
      }
    }

    .card:nth-child(3) {
      .item {
        background-image: url(assets/lemonade_2.jpg);
      }
    }

    .card:nth-child(4) {
      .item {
        background-image: url(assets/lemonade_3.jpg);
      }
    }

    .card:nth-child(5) {
      .item {
        background-image: url(assets/lemonade_4.jpg);
      }
    }

    .card:nth-child(6) {
      .item {
        background-image: url(assets/lemonade_1.jpg);
      }
    }

    .card:nth-child(7) {
      .item {
        background-image: url(assets/lemonade_2.jpg);
      }
    }

    .card:nth-child(8) {
      .item {
        background-image: url(assets/lemonade_3.jpg);
      }
    }

    .card:nth-child(9) {
      .item {
        background-image: url(assets/lemonade_4.jpg);
      }
    }

    .card:nth-child(10) {
      .item {
        background-image: url(assets/lemonade_1.jpg);
      }
    }
  }
}
