* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  color: black;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Jockey One";
  src: url("../font/jockeyone-regular-webfont.woff2") format("woff2"), url("../font/jockeyone-regular-webfont.woff") format("woff");
}
@font-face {
  font-family: "Just Another Hand";
  src: url("../font/justanotherhand-regular-webfont.woff2") format("woff2"), url("../font/justanotherhand-regular-webfont.woff") format("woff");
}
:root {
  --font-size-nav: 1.2rem;
  --font-size-h1-home: 6rem;
  --font-size-tittle-section: 5rem;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-dark-yellow: #ffe454;
  --color-pastel-yellow: #ffeb84;
  --color-dark-pink: #ff9ad7;
  --color-pastel-pink: #ffb0e0;
  --color-pastel-pink2: #fee8f5;
  --background-color-opacity60: #ff9ad760;
  --background-color-opacity35: #ff9ad720;
  --font-Just-Another-Hand: "Just Another Hand";
  --font-Jockey-One: "Jockey One";
  --margin-1: 1rem;
  --margin-2: 2rem;
  --margin-3: 3rem;
  --margin-4: 4rem;
  --margin-5: 5rem;
  --margin-6: 6rem;
  --margin-7: 7rem;
  --margin-10: 10rem;
}

body {
  background-color: var(--color-pastel-yellow);
  overflow-x: hidden;
}
body .divNavBar {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Jockey One", sans-serif;
}
@media (max-width: 992px) {
  body .divNavBar {
    z-index: 10;
  }
}
body .divNavBar .navBar {
  width: 100%;
  height: 6rem;
  border-radius: 1rem;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 992px) {
  body .divNavBar .navBar {
    background-color: #fff;
    box-shadow: none;
    width: 100%;
    margin-top: 0;
    border-radius: 0;
    position: relative;
    z-index: 20;
    height: 5rem;
  }
}
@media (max-width: 576px) {
  body .divNavBar .navBar {
    height: 4rem;
  }
}
body .divNavBar .navBar .divLogo {
  width: 5.5rem;
  height: 5.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 3rem;
  background-color: #fff;
  margin-left: 2rem;
  padding: 0.8rem;
  border: solid 0.3rem var(--color-pastel-pink);
  border-radius: 50%;
}
@media (max-width: 992px) {
  body .divNavBar .navBar .divLogo {
    background-image: url(./assets/logoLimencello.png);
    background-repeat: no-repeat;
    background-size: 10rem;
    background-position: center;
    border: none;
    width: 15rem;
    height: 2.3rem;
    margin-left: 1rem;
    margin-right: 2rem;
  }
  body .divNavBar .navBar .divLogo a {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 576px) {
  body .divNavBar .navBar .divLogo {
    width: 16rem;
    height: 3.5rem;
    padding: 0;
    background-size: 7rem;
  }
}
body .divNavBar .navBar .divLogo .logo {
  width: 6rem;
  height: 4rem;
}
@media (max-width: 992px) {
  body .divNavBar .navBar .divLogo .logo {
    display: none;
  }
}
body .divNavBar .navBar .navMiddle {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}
@media (max-width: 992px) {
  body .divNavBar .navBar .navMiddle {
    position: absolute;
    right: 0;
    top: 5rem;
    width: 90%;
    height: 60vh;
    margin-left: 25rem;
    background-color: var(--color-pastel-yellow);
    border-radius: 0 0 0 4rem;
    border: solid 0.2rem var(--color-pastel-pink);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translate(100%);
    transition: transform 0.6s cubic-bezier(0.17, 0.67, 0.37, 1.21);
  }
  body .divNavBar .navBar .navMiddle.mobile-menu {
    transform: translateX(0%);
  }
}
@media (max-width: 576px) {
  body .divNavBar .navBar .navMiddle {
    top: 4rem;
  }
}
body .divNavBar .navBar .navMiddle .navLink {
  width: 50%;
  height: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.8rem;
  margin-right: 1.5rem;
  background-color: rgb(255, 255, 255);
  padding-left: 3rem;
  padding-right: 1rem;
}
body .divNavBar .navBar .navMiddle .navLink li {
  margin-right: 1rem;
}
body .divNavBar .navBar .navMiddle .navLink li:nth-child(1) {
  margin-left: 1rem;
}
@media (max-width: 576px) {
  body .divNavBar .navBar .navMiddle .navLink li:nth-child(1) {
    margin-left: 0;
  }
}
body .divNavBar .navBar .navMiddle .navLink li:nth-child(5) {
  margin-right: 0;
}
body .divNavBar .navBar .navMiddle .navLink li:not(.liButton) a {
  position: relative;
  color: #000000;
}
body .divNavBar .navBar .navMiddle .navLink li:not(.liButton) a:before {
  content: "";
  position: absolute;
  bottom: -2px;
  height: 0.2rem;
  width: 0;
  background-color: var(--color-dark-pink);
  border-radius: 50px;
  transition: width 0.2s ease;
}
body .divNavBar .navBar .navMiddle .navLink li:not(.liButton) a:hover:before {
  margin-top: 4rem;
  width: 100%;
}
@media (max-width: 1200px) {
  body .divNavBar .navBar .navMiddle .navLink {
    width: 55%;
  }
}
@media (max-width: 992px) {
  body .divNavBar .navBar .navMiddle .navLink {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 80%;
    margin-right: 0;
    background-color: var(--color-pastel-yellow);
  }
  body .divNavBar .navBar .navMiddle .navLink li a {
    font-size: 2rem;
    text-transform: uppercase;
  }
}
@media (max-width: 576px) {
  body .divNavBar .navBar .navMiddle .navLink li a {
    font-size: 1.6rem;
  }
}
@media (max-width: 992px) {
  body .divNavBar .navBar .navMiddle .liButton button {
    width: 9rem;
    height: 3.5rem;
  }
  body .divNavBar .navBar .navMiddle .liButton button a {
    font-size: 1.1rem;
  }
}
body .divNavBar .navBar .navMiddle .buttonContact {
  width: 7rem;
  height: 3.2rem;
  padding: 0.5rem 1.2rem;
  border-radius: 0.5rem;
  background-color: var(--color-pastel-pink);
  font-family: var(--font-Jockey-One);
  font-size: 1.1rem;
  color: var(--color-white);
  border: none;
  transition: all 0.3s ease;
}
@media (max-width: 992px) {
  body .divNavBar .navBar .navMiddle .buttonContact {
    position: relative;
    z-index: 4;
    margin-right: 1rem;
  }
}
body .divNavBar .navBar .navMiddle .buttonContact:hover {
  background-color: var(--background-color-opacity35);
  border: 0.2rem solid var(--color-dark-pink);
  text-decoration: none;
}
body .divNavBar .divButtonContactTwo {
  display: none;
}
@media (max-width: 992px) {
  body .divNavBar .divButtonContactTwo {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0;
    cursor: pointer;
  }
}
@media (max-width: 768px) {
  body .divNavBar .divButtonContactTwo {
    width: 100%;
    height: 80%;
  }
}
@media (min-width: 992px) {
  body .divNavBar .divButtonContactTwo button.burger {
    display: none;
  }
}
@media (max-width: 992px) {
  body .divNavBar .divButtonContactTwo button.burger {
    width: 3rem;
    height: 1.8rem;
    border: none;
    background: transparent;
    position: relative;
    cursor: pointer;
    margin: 2rem 2rem 2rem 2rem;
  }
}
@media (max-width: 992px) and (max-width: 576px) {
  body .divNavBar .divButtonContactTwo button.burger {
    width: 2rem;
    height: 1.5rem;
  }
}
@media (max-width: 992px) {
  body .divNavBar .divButtonContactTwo button.burger.burger3:after, body .divNavBar .divButtonContactTwo button.burger.burger3:before,
  body .divNavBar .divButtonContactTwo button.burger.burger3 span {
    width: 100%;
    height: 4px;
    border-radius: 100px;
    position: absolute;
    left: 0px;
    background: var(--color-dark-pink);
    transform: rotate(0deg);
    transition: all 0.4s;
  }
}
@media (max-width: 992px) and (max-width: 768px) {
  body .divNavBar .divButtonContactTwo button.burger.burger3:after, body .divNavBar .divButtonContactTwo button.burger.burger3:before,
  body .divNavBar .divButtonContactTwo button.burger.burger3 span {
    height: 3px;
  }
}
@media (max-width: 992px) and (max-width: 576px) {
  body .divNavBar .divButtonContactTwo button.burger.burger3:after, body .divNavBar .divButtonContactTwo button.burger.burger3:before,
  body .divNavBar .divButtonContactTwo button.burger.burger3 span {
    height: 3px;
  }
}
@media (max-width: 992px) {
  body .divNavBar .divButtonContactTwo button.burger.burger3:after, body .divNavBar .divButtonContactTwo button.burger.burger3:before {
    content: "";
  }
  body .divNavBar .divButtonContactTwo button.burger.burger3:after {
    top: 0px;
    margin-top: 0px;
  }
  body .divNavBar .divButtonContactTwo button.burger.burger3:before {
    bottom: 0px;
    margin-bottom: 0px;
  }
  body .divNavBar .divButtonContactTwo button.burger.burger3 span {
    top: 50%;
    margin-top: -2px;
  }
  body .divNavBar .divButtonContactTwo button.burger.burger3.on:after {
    transform: rotate(135deg) translate(9px, -9px);
  }
}
@media (max-width: 992px) and (max-width: 768px) {
  body .divNavBar .divButtonContactTwo button.burger.burger3.on:after {
    transform: rotate(135deg) translate(10.2px, -8.5px);
  }
}
@media (max-width: 992px) and (max-width: 576px) {
  body .divNavBar .divButtonContactTwo button.burger.burger3.on:after {
    transform: rotate(135deg) translate(9px, -7.1px);
  }
}
@media (max-width: 992px) {
  body .divNavBar .divButtonContactTwo button.burger.burger3.on:before {
    transform: rotate(225deg);
    bottom: 50%;
    margin-bottom: -2px;
  }
  body .divNavBar .divButtonContactTwo button.burger.burger3.on span {
    transform: rotate(135deg);
  }
}
@media (max-width: 992px) and (max-width: 768px) {
  body .divNavBar .divButtonContactTwo button.burger.burger3.on span {
    transform: rotate(135deg) translate(1px, 0px);
  }
}
body main {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--color-pastel-yellow);
  border-radius: 0 0 4rem 4rem;
}
body main .contact {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
body main .contact .titleContact {
  font-size: var(--font-size-tittle-section);
  font-family: var(--font-Just-Another-Hand);
  margin: var(--margin-4) 0 var(--margin-6) 0;
  border: var(--color-pastel-pink2) solid 0.15rem;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 576px) {
  body main .contact .titleContact {
    margin: var(--margin-3) 0 var(--margin-5) 0;
  }
}
body main .coordonees {
  font-family: var(--font-Just-Another-Hand);
  font-size: var(--font-size-h1-home);
  margin-bottom: 7rem;
}
body main .coordonees h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-pastel-pink);
}
body footer {
  background-color: var(--color-pastel-pink);
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}
body footer .divTitleFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem 0 5rem 0;
}
body footer .titleFooter {
  text-align: center;
  width: 85%;
  font-family: var(--font-Just-Another-Hand);
  font-size: 4rem;
}
@media (max-width: 576px) {
  body footer .titleFooter {
    font-size: 2.7rem;
  }
}
body footer .containerForm {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body footer .containerForm .form {
  width: 90%;
  height: auto;
  margin: 0 2rem 0 2rem;
}
body footer .containerForm .form .largeContainer {
  margin-bottom: var(--margin-3);
}
body footer .containerForm .form .largeContainer .largeTitle {
  font-size: var(--font-size-nav);
  margin-bottom: var(--margin-2);
  font-family: var(--font-Jockey-One);
}
@media (max-width: 576px) {
  body footer .containerForm .form .largeContainer .largeTitle {
    font-size: 1.1rem;
  }
}
body footer .containerForm .form .largeContainer .largeInput {
  width: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: transparent;
  border: 0;
  outline: none;
  border-bottom: 0.15rem solid var(--color-dark-pink);
}
body footer .containerForm .namePhoneEmail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--margin-3);
}
body footer .containerForm .namePhoneEmail .container {
  width: 30%;
}
body footer .containerForm .namePhoneEmail .container .title {
  font-size: var(--font-size-nav);
  margin-bottom: var(--margin-2);
  font-family: var(--font-Jockey-One);
}
@media (max-width: 576px) {
  body footer .containerForm .namePhoneEmail .container .title {
    font-size: 1.1rem;
  }
}
body footer .containerForm .namePhoneEmail .container .input {
  width: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: transparent;
  border: 0;
  outline: none;
  border-bottom: 0.15rem solid var(--color-dark-pink);
}
body footer .containerForm .bottomBar {
  height: auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
  font-family: var(--font-Just-Another-Hand);
  font-size: 1.5rem;
}
@media (max-width: 576px) {
  body footer .containerForm .bottomBar {
    font-size: 0.8rem;
    margin-top: 2rem;
  }
}/*# sourceMappingURL=contact.css.map */