@import "../base/reset";
@import "../base/font";
@import "../utils/breakpoint";
@import "../utils/mixins";

:root {
  --font-size-nav: 1.2rem;
  --font-size-h1-home: 6rem;
  --font-size-tittle-section: 5rem;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-dark-yellow: #ffe454;
  --color-pastel-yellow: #ffeb84;
  --color-dark-pink: #ff9ad7;
  --color-pastel-pink: #ffb0e0;
  --color-pastel-pink2: #fee8f5;
  --background-color-opacity60: #ff9ad760;
  --background-color-opacity35: #ff9ad720;
  --font-Just-Another-Hand: "Just Another Hand";
  --font-Jockey-One: "Jockey One";
  --margin-1: 1rem;
  --margin-2: 2rem;
  --margin-3: 3rem;
  --margin-4: 4rem;
  --margin-5: 5rem;
  --margin-6: 6rem;
  --margin-7: 7rem;
  --margin-10: 10rem;
}

body {
  @import "../layout/navbar";
  overflow-x: hidden;

  main {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 0 0 4rem 4rem;

    @import "../components/sellingpoint";
  }

  @import "../layout/footer";
}
